In [1]:
import pandas as pd

In [2]:
previous_application = pd.read_csv(r"C:\Users\ASUS\Downloads\dseb-64-data-preparation-final-project\dseb63_final_project_DP_dataset\dseb63_final_project_DP_dataset\dseb63_previous_application.csv")
previous_application.head()

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,...,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,...,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,...,12.0,middle,POS industry with interest,365243.0,-512.0,-182.0,-392.0,-387.0,0.0,293189
3,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,...,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,91587
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,...,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0,91587

In [3]:
previous_application.info()
previous_application['SK_ID_PREV'].value_counts()
previous_application['HOUR_APPR_PROCESS_START'].value_counts()
previous_application['FLAG_LAST_APPL_PER_CONTRACT'].value_counts()
previous_application['NFLAG_LAST_APPL_IN_DAY'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1413701 non-null  int64
 1   NAME_CONTRACT_TYPE           1413701 non-null  object
 2   AMT_ANNUITY                  1106483 non-null  float64
 3   AMT_APPLICATION              1413701 non-null  float64
 4   AMT_CREDIT                   1413700 non-null  float64
 5   AMT_DOWN_PAYMENT             664161 non-null   float64
 6   AMT_GOODS_PRICE              1094176 non-null  float64
 7   WEEKDAY_APPR_PROCESS_START   1413701 non-null  object
 8   HOUR_APPR_PROCESS_START      1413701 non-null  int64
 9   FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 10  NFLAG_LAST_APPL_IN_DAY       1413701 non-null  int64
 11  RATE_DOWN_PAYMENT            664161 non-null   float64
 12  RATE_INTEREST_PRIMARY        4791 non-null     float64
 13  RATE_INTEREST_PRIVILEGED     4791 non-null     float64
 14  NAME_CASH_LOAN_PURPOSE       1413701 non-null  object
 15  NAME_CONTRACT_STATUS         1413701 non-null  object
 16  DAYS_DECISION                1413701 non-null  int64
 17  NAME_PAYMENT_TYPE            1413701 non-null  object
 18  CODE_REJECT_REASON           1413701 non-null  object
 19  NAME_TYPE_SUITE              719029 non-null   object
 20  NAME_CLIENT_TYPE             1413701 non-null  object
 21  NAME_GOODS_CATEGORY          1413701 non-null  object
 22  NAME_PORTFOLIO               1413701 non-null  object
 23  NAME_PRODUCT_TYPE            1413701 non-null  object
 24  CHANNEL_TYPE                 1413701 non-null  object
 25  SELLERPLACE_AREA             1413701 non-null  int64
 26  NAME_SELLER_INDUSTRY         1413701 non-null  object
 27  CNT_PAYMENT                  1106488 non-null  float64
 28  NAME_YIELD_GROUP             1413701 non-null  object
 29  PRODUCT_COMBINATION          1413388 non-null  object
 30  DAYS_FIRST_DRAWING           852595 non-null   float64
 31  DAYS_FIRST_DUE               852595 non-null   float64
 32  DAYS_LAST_DUE_1ST_VERSION    852595 non-null   float64
 33  DAYS_LAST_DUE                852595 non-null   float64
 34  DAYS_TERMINATION             852595 non-null   float64
 35  NFLAG_INSURED_ON_APPROVAL    852595 non-null   float64
 36  SK_ID_CURR                   1413701 non-null  int64
dtypes: float64(15), int64(6), object(16)
memory usage: 399.1+ MB

NFLAG_LAST_APPL_IN_DAY
1    1408657
0       5044
Name: count, dtype: int64

In [4]:
previous_application.describe()

,SK_ID_PREV,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,...,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
count,1.413701e+06,1.106483e+06,1.413701e+06,1.413700e+06,6.641610e+05,1.094176e+06,1.413701e+06,1.413701e+06,664161.000000,4791.000000,...,1.413701e+06,1.413701e+06,1.106488e+06,852595.000000,852595.000000,852595.000000,852595.000000,852595.000000,852595.000000,1.413701e+06
mean,1.922744e+06,1.583718e+04,1.752436e+05,1.963541e+05,6.655317e+03,2.264512e+05,1.247893e+01,9.964321e-01,0.080175,0.189436,...,-8.803670e+02,3.149878e+02,1.605194e+01,342257.656710,13488.741567,33274.831806,76665.634755,82353.171672,0.330572,1.537647e+05
std,5.327153e+05,1.472491e+04,2.936222e+05,3.194813e+05,2.062030e+04,3.159376e+05,3.331474e+00,5.962560e-02,0.107784,0.090849,...,7.835402e+02,7.695082e+03,1.456675e+01,88832.266598,71650.147146,106161.775933,149704.716371,153537.064274,0.470419,8.867392e+04
min,1.000001e+06,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,0.034781,...,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000,0.000000e+00
25%,1.461346e+06,6.257858e+03,1.975050e+04,2.488050e+04,0.000000e+00,4.982850e+04,1.000000e+01,1.000000e+00,0.000000,0.160716,...,-1.313000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1630.000000,-1244.000000,-1316.000000,-1269.000000,0.000000,7.692000e+04
50%,1.922698e+06,1.122376e+04,7.087050e+04,8.059500e+04,1.791000e+03,1.102455e+05,1.200000e+01,1.000000e+00,0.062489,0.189136,...,-5.820000e+02,4.000000e+00,1.200000e+01,365243.000000,-825.000000,-358.000000,-534.000000,-494.000000,0.000000,1.536860e+05
75%,2.384012e+06,2.042078e+04,1.800000e+05,2.156400e+05,7.695000e+03,2.295000e+05,1.500000e+01,1.000000e+00,0.108912,0.193330,...,-2.710000e+02,8.500000e+01,2.400000e+01,365243.000000,-408.000000,135.000000,-73.000000,-42.000000,1.000000,2.305300e+05
max,2.845381e+06,4.180581e+05,5.850000e+06,4.509688e+06,3.060045e+06,5.850000e+06,2.300000e+01,1.000000e+00,1.000000,1.000000,...,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000,3.075100e+05

In [5]:
previous_application.drop_duplicates()

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,...,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,...,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,...,12.0,middle,POS industry with interest,365243.0,-512.0,-182.0,-392.0,-387.0,0.0,293189
3,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,...,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,91587
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,...,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0,91587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413696,1261221,Consumer loans,6030.675,133866.0,133866.0,0.0,133866.0,SATURDAY,15,Y,...,24.0,low_action,POS household without interest,365243.0,-801.0,-111.0,-531.0,-518.0,0.0,302680
1413697,1563733,Consumer loans,13726.080,137250.0,123525.0,13725.0,137250.0,SATURDAY,14,Y,...,10.0,low_normal,POS household with interest,365243.0,-464.0,-194.0,-194.0,-186.0,0.0,192560
1413698,2319569,Consumer loans,4716.495,46800.0,46800.0,0.0,46800.0,FRIDAY,9,Y,...,12.0,middle,POS industry with interest,365243.0,-119.0,211.0,365243.0,365243.0,0.0,91682
1413699,2829648,Consumer loans,10301.940,101745.0,112491.0,0.0,101745.0,FRIDAY,12,Y,...,12.0,low_action,POS household without interest,365243.0,-529.0,-199.0,-199.0,-194.0,0.0,126653
1413700,1944034,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,10,Y,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,288814

In [6]:
previous_application['HOUR_APPR_PROCESS_START'] = previous_application['HOUR_APPR_PROCESS_START'].astype('int64')

In [7]:
previous_application['NAME_CLIENT_TYPE'].value_counts()

NAME_CLIENT_TYPE
Repeater     1037682
New           259540
Refreshed     114936
XNA             1543
Name: count, dtype: int64

In [8]:
previous_application['RATE_INTEREST_PRIMARY'].notnull().value_counts()

RATE_INTEREST_PRIMARY
False    1408910
True        4791
Name: count, dtype: int64

In [9]:
previous_application['CODE_REJECT_REASON'].value_counts()

CODE_REJECT_REASON
XAP       1145533
HC         145984
LIMIT       47773
SCO         32636
CLIENT      22771
SCOFR       10875
XNA          4378
VERIF        3079
SYSTEM        672
Name: count, dtype: int64

In [10]:
previous_application['CNT_PAYMENT'].value_counts()
previous_application['CNT_PAYMENT'] = previous_application['CNT_PAYMENT'].astype('Int64')

In [11]:
previous_application['DAYS_FIRST_DRAWING'] = previous_application['DAYS_FIRST_DRAWING'].astype('Int64').value_counts()

In [12]:
previous_application['DAYS_FIRST_DUE'] = previous_application['DAYS_FIRST_DUE'].astype('Int64').value_counts()

In [13]:
previous_application['DAYS_LAST_DUE_1ST_VERSION'] = previous_application['DAYS_LAST_DUE_1ST_VERSION'].astype('Int64').value_counts()

In [14]:
previous_application['DAYS_LAST_DUE'] = previous_application['DAYS_LAST_DUE'].astype('Int64').value_counts()

In [15]:
previous_application['DAYS_TERMINATION'] = previous_application['DAYS_TERMINATION'].astype('Int64').value_counts()

In [16]:
previous_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1413701 non-null  int64
 1   NAME_CONTRACT_TYPE           1413701 non-null  object
 2   AMT_ANNUITY                  1106483 non-null  float64
 3   AMT_APPLICATION              1413701 non-null  float64
 4   AMT_CREDIT                   1413700 non-null  float64
 5   AMT_DOWN_PAYMENT             664161 non-null   float64
 6   AMT_GOODS_PRICE              1094176 non-null  float64
 7   WEEKDAY_APPR_PROCESS_START   1413701 non-null  object
 8   HOUR_APPR_PROCESS_START      1413701 non-null  int64
 9   FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 10  NFLAG_LAST_APPL_IN_DAY       1413701 non-null  int64
 11  RATE_DOWN_PAYMENT            664161 non-null   float64
 12  RATE_INTEREST_PRIMARY        4791 non-null     float64
 13  RATE_INTEREST_PRIVILEGED     4791 non-null     float64
 14  NAME_CASH_LOAN_PURPOSE       1413701 non-null  object
 15  NAME_CONTRACT_STATUS         1413701 non-null  object
 16  DAYS_DECISION                1413701 non-null  int64
 17  NAME_PAYMENT_TYPE            1413701 non-null  object
 18  CODE_REJECT_REASON           1413701 non-null  object
 19  NAME_TYPE_SUITE              719029 non-null   object
 20  NAME_CLIENT_TYPE             1413701 non-null  object
 21  NAME_GOODS_CATEGORY          1413701 non-null  object
 22  NAME_PORTFOLIO               1413701 non-null  object
 23  NAME_PRODUCT_TYPE            1413701 non-null  object
 24  CHANNEL_TYPE                 1413701 non-null  object
 25  SELLERPLACE_AREA             1413701 non-null  int64
 26  NAME_SELLER_INDUSTRY         1413701 non-null  object
 27  CNT_PAYMENT                  1106488 non-null  Int64
 28  NAME_YIELD_GROUP             1413701 non-null  object
 29  PRODUCT_COMBINATION          1413388 non-null  object
 30  DAYS_FIRST_DRAWING           1 non-null        Int64
 31  DAYS_FIRST_DUE               1 non-null        Int64
 32  DAYS_LAST_DUE_1ST_VERSION    1803 non-null     Int64
 33  DAYS_LAST_DUE                1 non-null        Int64
 34  DAYS_TERMINATION             1 non-null        Int64
 35  NFLAG_INSURED_ON_APPROVAL    852595 non-null   float64
 36  SK_ID_CURR                   1413701 non-null  int64
dtypes: Int64(6), float64(9), int64(6), object(16)
memory usage: 407.2+ MB

In [17]:
previous_application['NFLAG_INSURED_ON_APPROVAL'].value_counts()

NFLAG_INSURED_ON_APPROVAL
0.0    570751
1.0    281844
Name: count, dtype: int64

In [18]:
previous_application['NFLAG_INSURED_ON_APPROVAL'] = previous_application['NFLAG_INSURED_ON_APPROVAL'].astype('Int64')

In [46]:
# Create a function to remove outlier   
def find_outliers(data, whisker_coeff = 1):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)                
    IQR = Q3 - Q1                                   
    lower = Q1 - whisker_coeff * IQR
    upper = Q3 + whisker_coeff * IQR
    return lower, upper

class RemoveOuliers():
    def __init__(self, whisker_coeff = 1):
        self.whisker = whisker_coeff
        self.lower = None
        self.upper = None
    def fit(self, X: pd.Series):
        self.lower, self.upper = find_outliers(X, self.whisker)
    def transform(self, X):
        return X.clip(self.lower, self.upper)

In [47]:
for col in previous_application.columns:
    if previous_application[col].dtype != 'object':
        remove = RemoveOuliers()
        remove.fit(previous_application[col])
        previous_application[col] = remove.transform(previous_application[col])

In [48]:
previous_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1413701 non-null  int64
 1   NAME_CONTRACT_TYPE           1413701 non-null  object
 2   AMT_ANNUITY                  1106483 non-null  float64
 3   AMT_APPLICATION              1413701 non-null  float64
 4   AMT_CREDIT                   1413700 non-null  float64
 5   AMT_DOWN_PAYMENT             664161 non-null   float64
 6   AMT_GOODS_PRICE              1094176 non-null  float64
 7   WEEKDAY_APPR_PROCESS_START   1413701 non-null  object
 8   HOUR_APPR_PROCESS_START      1413701 non-null  float64
 9   FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 10  NFLAG_LAST_APPL_IN_DAY       1413701 non-null  int64
 11  RATE_DOWN_PAYMENT            664161 non-null   float64
 12  RATE_INTEREST_PRIMARY        4791 non-null     float64
 13  RATE_INTEREST_PRIVILEGED     4791 non-null     float64
 14  NAME_CASH_LOAN_PURPOSE       1413701 non-null  object
 15  NAME_CONTRACT_STATUS         1413701 non-null  object
 16  DAYS_DECISION                1413701 non-null  int64
 17  NAME_PAYMENT_TYPE            1413701 non-null  object
 18  CODE_REJECT_REASON           1413701 non-null  object
 19  NAME_TYPE_SUITE              719029 non-null   object
 20  NAME_CLIENT_TYPE             1413701 non-null  object
 21  NAME_GOODS_CATEGORY          1413701 non-null  object
 22  NAME_PORTFOLIO               1413701 non-null  object
 23  NAME_PRODUCT_TYPE            1413701 non-null  object
 24  CHANNEL_TYPE                 1413701 non-null  object
 25  SELLERPLACE_AREA             1413701 non-null  int64
 26  NAME_SELLER_INDUSTRY         1413701 non-null  object
 27  CNT_PAYMENT                  1106488 non-null  Int64
 28  NAME_YIELD_GROUP             1413701 non-null  object
 29  PRODUCT_COMBINATION          1413388 non-null  object
 30  DAYS_FIRST_DRAWING           1 non-null        Int64
 31  DAYS_FIRST_DUE               1 non-null        Int64
 32  DAYS_LAST_DUE_1ST_VERSION    1803 non-null     Int64
 33  DAYS_LAST_DUE                1 non-null        Int64
 34  DAYS_TERMINATION             1 non-null        Int64
 35  NFLAG_INSURED_ON_APPROVAL    852595 non-null   Int64
 36  SK_ID_CURR                   1413701 non-null  int64
dtypes: Int64(7), float64(9), int64(5), object(16)
memory usage: 408.5+ MB

In [50]:
for col in previous_application.columns:
    if previous_application[col].dtype == 'object':
        previous_application[col].fillna(previous_application[col].mode()[0], inplace=True)
    else :
        previous_application[col].fillna(previous_application[col].mean().round(0), inplace = True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24808\2693932306.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  previous_application[col].fillna(previous_application[col].mean().round(0), inplace = True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24808\2693932306.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  previous_application[col].fillna(previous_application[col].mode()[0], inplace=True)

In [52]:
previous_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1413701 non-null  int64
 1   NAME_CONTRACT_TYPE           1413701 non-null  object
 2   AMT_ANNUITY                  1413701 non-null  float64
 3   AMT_APPLICATION              1413701 non-null  float64
 4   AMT_CREDIT                   1413701 non-null  float64
 5   AMT_DOWN_PAYMENT             1413701 non-null  float64
 6   AMT_GOODS_PRICE              1413701 non-null  float64
 7   WEEKDAY_APPR_PROCESS_START   1413701 non-null  object
 8   HOUR_APPR_PROCESS_START      1413701 non-null  float64
 9   FLAG_LAST_APPL_PER_CONTRACT  1413701 non-null  object
 10  NFLAG_LAST_APPL_IN_DAY       1413701 non-null  int64
 11  RATE_DOWN_PAYMENT            1413701 non-null  float64
 12  RATE_INTEREST_PRIMARY        1413701 non-null  float64
 13  RATE_INTEREST_PRIVILEGED     1413701 non-null  float64
 14  NAME_CASH_LOAN_PURPOSE       1413701 non-null  object
 15  NAME_CONTRACT_STATUS         1413701 non-null  object
 16  DAYS_DECISION                1413701 non-null  int64
 17  NAME_PAYMENT_TYPE            1413701 non-null  object
 18  CODE_REJECT_REASON           1413701 non-null  object
 19  NAME_TYPE_SUITE              1413701 non-null  object
 20  NAME_CLIENT_TYPE             1413701 non-null  object
 21  NAME_GOODS_CATEGORY          1413701 non-null  object
 22  NAME_PORTFOLIO               1413701 non-null  object
 23  NAME_PRODUCT_TYPE            1413701 non-null  object
 24  CHANNEL_TYPE                 1413701 non-null  object
 25  SELLERPLACE_AREA             1413701 non-null  int64
 26  NAME_SELLER_INDUSTRY         1413701 non-null  object
 27  CNT_PAYMENT                  1413701 non-null  Int64
 28  NAME_YIELD_GROUP             1413701 non-null  object
 29  PRODUCT_COMBINATION          1413701 non-null  object
 30  DAYS_FIRST_DRAWING           1413701 non-null  Int64
 31  DAYS_FIRST_DUE               1413701 non-null  Int64
 32  DAYS_LAST_DUE_1ST_VERSION    1413701 non-null  Int64
 33  DAYS_LAST_DUE                1413701 non-null  Int64
 34  DAYS_TERMINATION             1413701 non-null  Int64
 35  NFLAG_INSURED_ON_APPROVAL    1413701 non-null  Int64
 36  SK_ID_CURR                   1413701 non-null  int64
dtypes: Int64(7), float64(9), int64(5), object(16)
memory usage: 408.5+ MB

In [54]:
previous_application.to_csv(r"C:\Users\ASUS\Downloads\previous_application ver1.csv")